body {
	background: #FFFFFF url(../img/pure/webbg.png) repeat-y center;
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

body, td, th {
	font-size: 11px;
	color: #8f5d1b;
}

#main_div {
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.leftcleaner {
	width: 6px;
	height: 400px;
	float: left;
}

.header {
	display: block;
	width: 980px;
	height: 150px;
	margin: 0 auto;
}

.header a {
	color: #F27E38;
	text-decoration: none;
}

.header a:hover {
	text-decoration: underline;
}

.logo {
	display:block;
	width:160px;
	height:150px;
	float:left;
}
.logo img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
}

.info {
	display:block;
	width:500px;
	height:150px;
	float:left;
}
.info_div{
	width:450px;
	height:100px;
	display:block;
	margin-left:30px;
	font-size:14px;
	margin-top:30px;
	font-weight:bold;
	text-align:center;
}

.support {
	display:block;
	width:300px;
	height:150px;
	float:left;
}
.support div{
	display:block;
	width:250px;
	height:107px;
	float:right;
	margin-top:20px;
}

.ribbonnav {
	width: 1000px;
	height: 40px;
	display: block;
	padding-top: 0px;
	margin-left: -21px;
}

.ribbonnav a{
	display:block;
	float:left;
	margin-left:17px;
	margin-top:10px;
	border:0px;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}
/* ribbon style */

.ribbon-wrapper {
	position: relative;
}
.ribbon-front {
	background-color: #754c24;	height: 40px;
	width: 1040px;
	position: relative;
	left:-20px;
	z-index: 2;
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

.ribbon-edge-topleft,
.ribbon-edge-topright {
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	top: 40px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #513213 transparent transparent;
}

.ribbon-edge-topleft {
	top: -10px;
	border-width: 10px 20px 0 0;
}
.ribbon-edge-bottomleft {
	border-width: 0 20px 0px 0;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
	left: 1000px;
	border-color: transparent transparent transparent #513213;
}

.ribbon-edge-topright {
	top: -10px;
	border-width: 10px 0 0 20px;
}
.ribbon-edge-bottomright {
	border-width: 0 0 0px 20px;
}

.ribbon-back-left {
	position: absolute;
	top: -10px;
	left: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}

.ribbon-back-right {
	position: absolute;
	top: -10px;
	right: 0px;
	width: 0px;
	height: 40px;
		z-index: 0;
}
.kloginbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#f6b400;
	border:1px solid #ffcd4f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #f6b400;
}.kloginbutton:hover {
	background-color:#ffcf54;
}.kloginbutton:active {
	position:relative;
	top:1px;
}

.banner-slider-container {
	display:block;
	width:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:-25px;
}

a.slideboxCaption img {
	border: 0;
}

#panel {
	background: #754c24;
	height: 30px;
	display: none;
}
#panel a{
	display:block;
	float:right;
	border:0px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	text-align:center;
	padding:8px;
	font-weight:bold;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #422410;
}
.btn-slide {
	text-align: center;
	width: 100px;
	height: 25px;
	margin: 0 auto;
	display: block;
	font-weight:bold;
	font-size:14px;
	color: #fff;
	text-decoration: none;
	float:right;
	-webkit-border-radius: px px 5px 5px;
	border-radius: px px 5px 5px;
	background:#963;
}
.btn-slide span{
	display:block;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;	
}
.active {
	background-position: right 12px;
}

.auctiontabsmenu{
	width:960px;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:30px;
}
.auctiontabsmenu div{
	width:170px;
	height:30px;
	float:left;
	display:block;
	background:url(../img/pure/auctiontabs.png);
}
.auctiontabsmenu div a{
	display:block;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	padding-top:6px;
	text-decoration:none;
	border:0px;
}

.auctiontopborder{
	width:960px;
	height:5px;
	margin: 0 auto;
	display:block;
	background:url(../img/pure/auctiontopbody.png) no-repeat;
}
.auctionpagebody{
	width:958px;
	height:auto;
	margin: 0 auto;
	display:block;
	border-style:solid;
	border-color:#6d3207;
	border-bottom:hidden;
	border-width:1px;
	border-top:hidden;
	background:#FFF;
}
.auctionbottomborder{
	width:960px;
	height:5px;
	margin: 0 auto;
	display:block;
	background:url(../img/pure/auctionbottombody.png) no-repeat;
}
.auction{
	width:180px;
	height:300px;
	display:block;
	float:left;
	margin: 5px;
	background:url(../img/pure/bid_item_s.png);
}
.auction_name{
	width:170px;
	height:20px;
	display:block;
	float:left;
	margin-left:5px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	color:#89532c;
	border:0px;
}
.auction_price{
	width:170px;
	height:20px;
	display:block;
	float:left;
	margin-left:5px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	color:#d35e09;
}
.auction_icon{
	width:170px;
	height:25px;
	display:block;
	float:left;
	margin-left:5px;
	text-decoration:none;
	font-weight:bold;
}
.auction_icon img{
	height:25px;
	display:block;
	float:left;
	text-decoration:none;
}
.auction_productimg {
	width:170px;
	height:155px;
	display:block;
	float:left;
	text-decoration:none;
	margin: 0 auto;
}
.auction_productimg img{
	width:165px;
	height:155px;
	display:block;
	margin: 0 auto;
	text-decoration:none;
	border:0px;
}
.auction_timer{
	width:170px;
	height:25px;
	display:block;
	float:left;
	margin-left:5px;
	text-decoration:none;
	border:0px;
}
.auction_timer span{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	border:0px;
}
.auction_current_price{
	width:170px;
	height:25px;
	display:block;
	float:left;
	margin-left:5px;
	text-decoration:none;
	border:0px;
}
.openAuction_box {
	background:url(../img/pure/bid_item_s.png) no-repeat center;
	width:180px;
	height:300px;
	float:left;
	margin-left:10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#openAuction_box_containt {
	width:180px;
	height:219px;
	padding-top:5px;
	float: left;
}
#openAuction_box_containt_left {
	width: 180px;
	height:130px;
}

#openAuction_box_containt_right {
	width: 180px;
	height:55px;
	text-align: center;
}
.openAuction_itemname {
	font-size:12px;
	font-weight:bold;
	width: 180px;
	padding-top: 1px;
	padding-left: 10px;
	text-align: left;
}

.openAuction_itemname a {
	color:#90521f;
	text-decoration:none;
    display: block;
}

.openAuction_itemname a:hover {
	color:#ff8711;
	text-decoration:underline;
}

.openAuction_itemvalue {
	font-size:12px;
	color:#ffa500;
	padding-left: 10px;
	font-weight: bold;
	text-align: left;
}
.openAuction_timer {
	font-family:"Arial Narrow";
	font-size:18px;
	color:#000000;
	font-weight:bold;
	margin-top: 15px;
	height: 20px;
}
.openAuction_product_price {
	font-size:14px;
	color:#90521f;
	font-weight:bold;
	height: 16px;
}
.openAuction_Bid_button {
	height:34px;
	width: 133px;
	margin: 0 auto;
	padding-left:45px;
}
.openAuction_product_img {
	margin: 0 auto;
	text-align: center;
	width: 165px;
	height: 155px;
	overflow: hidden;
}
.openAuction_product_img img {
	padding: 0;
}
.openAuction_icon {
    text-align: left;
    margin-left: 5px;
    width: 180px;
    height: 25px;
}
.openAuction_icon img {
    padding: 3px;
    width: 22px;
    height: 22px;
}
.openAuction_bidder_name {
	font-family:"Arial";
	font-size:14px;
	color:#000000;
	margin: 0 auto;
}
.page_box
{
    float: left;
    text-align: left;
    height: 20px;
    width: 100%;
    clear: both;
    margin-left: 15px;
}
.page_no
{
    float: left;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}

.footer_block{
	display:block;
	width:1000px;
	height:100px;
	margin: 0 auto;
}
.banklogo{
	display:block; 
	margin-left:auto; 
	margin-right:auto; 
	height:40px; 
	text-align:center; 
	margin-top:10px; 
	padding-top:10px;
}
.copyright-text{
	display:block; 
	margin-left:auto; 
	margin-right:auto; 
	height:40px; 
	text-align:center; 
	margin-top:10px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#725849; 
	/*font-weight:bold; */
	padding-top:10px;
}
.footer-menutext{
	display:block; 
	margin-left:auto; 
	margin-right:auto; 
	width:auto; 
	height:auto;
	text-align:center;
}
.footer-menutext span{
	display:block;
	font-weight:bold; 
	font-size:12px; 
	color:#725849; 
	margin:5px;
}
.footer-companyprofile{
	display:block; 
	margin-left:auto; 
	margin-right:auto; 
	width:1000px; 
	height:74px; 
}
.footer-companyprofile span{
	display:block;
	text-align:center; 
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	font-size:12px; 
	color:#725849;
}
.ribbonz-wrapper {
	position: relative;
}
.ribbonz-front {
	background-color: #e3c098;	height: 100px;
	width: 1040px;
	position: relative;
	left:-20px;
	z-index: 2;
}
.ribbonz-edge-topleft,
.ribbonz-edge-topright,
.ribbonz-edge-bottomleft,
.ribbonz-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}
.ribbonz-edge-topleft,
.ribbonz-edge-topright {
}
.ribbonz-edge-bottomleft,
.ribbonz-edge-bottomright {
	top: 100px;
}
.ribbonz-edge-topleft,
.ribbonz-edge-bottomleft {
	left: -20px;
	border-color: transparent #8a5c28 transparent transparent;
}
.ribbonz-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
.ribbonz-edge-bottomleft {
	border-width: 0 20px 20px 0;
}
.ribbonz-edge-topright,
.ribbonz-edge-bottomright {
	left: 1000px;
	border-color: transparent transparent transparent #8a5c28;
}
.ribbonz-edge-topright {
	top: 0px;
	border-width: 0px 0 0 20px;
}
.ribbonz-edge-bottomright {
	border-width: 0 0 20px 20px;
}
.ribbonz-back-left {
	position: absolute;
	top: 20px;
	left: -50px;
	width: 50px;
	height: 100px;
	background-color: #CAA882;	z-index: 0;
}
.ribbonz-back-right {
	position: absolute;
	top: 20px;
	right: -50px;
	width: 50px;
	height: 100px;
	background-color: #CAA882;
	z-index: 0;
}
.openAuction_bar_mainDIV1
{
	width: 970px;
	height: 38px;
	padding-top: 10px;
}
.openAction_bar-left
{
	width: 6px;
	height: 38px;
	float: left;
	background: url(../img/openOuction_bar-left.jpg) no-repeat;
}
.openAction_bar-middle
{
	width: 958px;
	height: 38px;
	float: left;
	background: url(../img/openOuction_bar-middle.jpg) repeat-x;
}
.openAction_bar-right
{
	width: 6px;
	height: 38px;
	float: right;
	background: url(../img/openOuction_bar-right.jpg) no-repeat;
}
.page_title_font
{
	text-align: left;
	color: #8c5918;
	padding: 7px 0 0 20px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}
.openAuction_bar_mainDIV2
{
	width: 968px;
	font-size: 14px;
	padding-bottom: 5px;
	border-left: 1px solid #e0c494;
	border-right: 1px solid #e0c494;
}
.openAuction_bar_bottom
{
	width: 970px;
}
.openAuction_leftcorner
{
	width: 7px;
	height: 7px;
	float: left;
	background: url(../img/openOuction_box_left-corner.jpg) right top no-repeat;
}
.openAuction_bar_middle
{
	width: 956px;
	height: 14px;
	float: left;
	background: url(../img/hg_motd2.gif) center center repeat-x;
}
.openAuction_rightcorner
{
	width: 7px;
	height: 7px;
	float: right;
	background: url(../img/openOuction_box_right-corner.jpg) right top no-repeat;
}
#register-now-box
{
	width: 504px;
	height: 334px;
	text-align: left;
	margin: 20px 0 0 35px;
	float: left;
	display: inline;
}
#already-registered
{
	height: 333px;
	text-align: left;
	padding: 0;
	margin: 20px 0 20px 0;
	border: 1px solid #e0c494;
	float: left;
	background: #FFFFFF url(../img/login-box-bg.gif) left center repeat-y;
	background-attachment: scroll;
}
#middle_div
{
	width: 960px;
	clear: left;
	margin-right: auto;
}
.openAuction_bar_mainDIV
{
	width: 970px;
	height: 38px;
	padding-top: 10px;
}
#Auction_boxes
{
	width: 955px;
	height: auto;
	padding-left: 6px;
}
.quickAuction_box
{
	width: 290px;
	height: 150px;
	text-align: left;
	margin: 5px 0 0 18px;
	float: left;
	background: url(../img/quick-bg.png) no-repeat;
}
.quickAuction_box .itemname
{
	width: 240px;
	text-align: left;
	padding: 5px 0 0 5px;
	font-size: 13px;
	font-weight: bold;
}
.quickAuction_box .itemname a
{
	color: #90521f;
	text-decoration: none;
	display: block;
}
.quickAuction_box .product_img img
{
	width: 120px;
	padding: 5px;
	float: left;
}
.quickAuction_box .right_container
{
	width: 125px;
	text-align: center;
	padding: 10px;
	float: right;
}
.quickAuction_box .timer
{
	height: 28px;
	color: #000000;
	font-family: Arial Narrow;
	font-size: 20px;
	font-weight: bold;
}
.quickAuction_box .product_price, .quickAuction_box .bidder_name
{
	height: 24px;
	font-size: 14px;
	font-weight: bold;
}
.auctypedetail
{
	width: 968px;
	height: 90px;
	text-align: left;
	background: url(../img/thumbback.gif) repeat-x;
}
.auctypedetail2
{
	width: 968px;
	height: 40px;
	text-align: left;
	background: url(../img/thumbback.gif) repeat-x;
}
.product-name-bar
{
	width: 930px;
	padding: 15px;
	float: left;
}
.product-name-bar-left
{
	width: 507px;
	font-size: 13px;
	float: left;
}
.product-name-bar-right
{
	width: 245px;
	text-align: right;
	font-size: 11px;
	float: left;
}
.product-name-bar-left .title
{
	text-align: left;
	color: #8f5d1b;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 8px;
}
.normal_text_small
{
	color: #5e5e5e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.red-text-12-b
{
	color: #c82c2f;
	font-size: 12px;
	font-weight: bold;
}
.darkblue-text-17-b
{
	color: #8f5d1b;
	font-size: 14px;
	font-weight: bold;
}
.savingline
{
	width: 270px;
	height: 1px;
	margin: 12px 0;
	border-bottom: 2px solid #e0c494;
}
.proddetailprice
{
	color: #90521f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.product-history-full
{
	width: 290px;
	height: 24px;
	float: left;
	background: url(../img/bidbutler_full.png) left center no-repeat
}
.autobidder_title
{
	text-align: left;
	color: #7f4a0a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 0 10px;
}
.productdetail_box
{
	width: 290px;
	margin: 0;
	font-size: 12px;
}
.productdetail_box_container
{
	width: 290px;
	margin: 0;
	float: left;
}
.productdetail_box .smallcornerleft
{
	width: 7px;
	height: 7px;
	float: left;
	background: url(../img/openAuction_box_left-corner-1.jpg) no-repeat;
}
.productdetail_box .smallcornermiddle
{
	width: 275px;
	height: 7px;
	float: left;
	background: url(../img/hg_motd2.gif) repeat-x;
}
.productdetail_box .smallcornerright
{
	width: 7px;
	height: 7px;
	float: left;
	background:  url(../img/openAuction_box_right-corner1.jpg) no-repeat;
}
.productdetail_box .middlepart
{
	width: 287px;
	border-left: 1px solid #e0c494;
	border-right: 1px solid #e0c494;
	float: left;
}
.productdetail_box .smallcornerleftbot
{
	width: 7px;
	height: 7px;
	float: left;
	background: url(../img/openOuction_box_left-corner.jpg) center top no-repeat;
}
.productdetail_box .middlepart .row
{
	width: 285px;
	margin-bottom: 5px;
	float: left;
}
.productdetail_box .middlepart .row .title
{
	width: 50px;
	text-align: left;
	padding-left: 10px;
	font-size: 11px;
	float: left;
}
.productdetail_box .middlepart .row .text
{
	width: 215px;
	text-align: right;
	font-size: 11px;
	float: left;
}
.productdetail_box .middlepart .row .left1
{
	width: 130px;
	text-align: left;
	padding-left: 10px;
	float: left;
}
.productdetail_box .middlepart .row .right1
{
	width: 130px;
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	float: right;
}
.productdetail_box .middlepart .bigimage
{
	width: 353px;
	height: 340px;
	padding-top: 15px;
}
.productdetail_box .middlepart .thumb
{
	width: 353px;
	height: 90px;
	background: url(../img/hg_thumb.gif) center center no-repeat;
}
.productdetail_box .smallcornerleftbot
{
	width: 7px;
	height: 7px;
	float: left;
	background: url(../img/openOuction_box_left-corner.jpg) center top no-repeat;
}
.productdetail_box .smallcornermiddlebot
{
	width: 275px;
	height: 13px;
	float: left;
	background: url(../img/hg_motd2.gif) center center repeat-x;
}
.productdetail_box .smallcornerrightbot
{
	width: 7px;
	height: 7px;
	float: left;
	background: url(../img/openOuction_box_right-corner.jpg) center top no-repeat;
}
.producthistitlerow
{
	width: 260px;
	height: 20px;
	margin: 5px 5px 5px 10px;
	font-size: 11px;
	float: left;
	border-bottom: 1px solid #e0c494;
}
.cell
{
	width: 85px;
	float: left;
}
.cell .inputtextbox
{
	font-size: 11px;
	border: 1px solid #B6B6B6;
	width: 65px;
	margin-left: 2px;
	padding: 2px;
}
.producthisrow
{
	width: 260px;
	height: 20px;
	padding-left: 10px;
	font-size: 12px;
	float: left;
}
.product-history-leftside
{
	background: url(../img/bidbutler_left_dark.png) no-repeat left;
	width: 180px;
	height: 24px;
	float: left;
	cursor: pointer;
}
.product-history-rightside
{
	background: url(../img/bidbutler_right_light.png) no-repeat left;
	width: 109px;
	height: 24px;
	float: left;
	cursor: pointer;
}
.product-history-leftside_dark
{
	background:url(../img/bidbutler_left_light.png) no-repeat left;
	width: 109px;
	height: 24px;
	float: left;
	cursor: pointer;
}
.product-history-rightside_dark
{
	background:url(../img/bidbutler_right_dark.png) no-repeat left;
	width: 180px;
	height: 24px;
	float: left;
	cursor: pointer;
}