 <tr class ="info">
       <td ><%= product.id%> </td>
                  <td> <div class="span4">
                  <h2><%= product.name%> </h2>
                  <p><img src="images/cricel.png" class="img-polaroid"></p>
                  <p><%= product.details%>  </p>
                  <p><a class="btn" href="#">View details &raquo;</a></p>
                      </div></td>
                  <td><%= product.price%> </td>
                   <td>Category</td>
                    <td>DDMMYY</td>
                  <td>DDMMYY</td>
                  <td>XX</td>
                   <td>
                    <a class="btn" href="selectbid.html"><button class="btn btn-warning" type="button">Bidder</button></a>
     </td>
</tr>