<!DOCTYPE html>
<html>
<head>
  <title>Bidsystems</title>
  <%= stylesheet_link_tag    "products", :media => "all" %>
  <%= javascript_include_tag "products" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
